.movies {
    padding: 0 70px 76px;
    min-height: 619px;
}


.movies_saved {
    padding-bottom: 0px;
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    .movies {
        padding: 0 30px 76px;
    }
}

@media screen and (max-width: 700px) {
    .movies {
        padding: 0;
    }
}

/* @media screen and (min-width: 420px) and (max-width: 8500px) {
    .movies_saved {
        padding-bottom: 240px;
    }
} */