.list__item {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    max-width: 360px;
    max-height: 319px;
}

.list__container {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.list__form {
    padding: 18px;
}

.list__info {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #A0A0A0;
}

.list__name {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}


.list__button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 9px 15px;
    width: 100px;
    height: 29px;
}

.list__button_inactive {
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    line-height: 11px;
    font-family: 'Inter';
}

.list__button_active {
    background-color: #FF4062;
    background-image: url('../../../images/icon__COLOR_invisible.svg');
    background-repeat: no-repeat;
    background-position: center;

}

/* .list__button::before {
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    line-height: 11px;
    font-family: 'Inter';
} */

/* .list__button-checked {
    cursor: pointer;
    background-color: #FF4062;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 9px 15px;
} */

.list__image {
    width: 100%;
}


@media screen and (max-width: 500px) {
    .list__item {
        max-width: 300px;
        row-gap: 16px;
    }

    .list__name {
        font-size: 12px;
    }

    .list__info {
        font-size: 10px;
    }

    .list__container {
        padding: 14px;
    }

    .list__form {
        padding: 14px;
    }
}

