.serch-form {
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px #E8E8E8 solid;
}

.serch-form__row{
    margin-bottom: 21px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 70px;
    column-gap: 10px;
}

.search-form__input {
    /* font-family: inherit;  */
    border: none;
    background-color: #F9F9F9;
    border-radius: 4px;
    min-height: 44px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.search-form__input::placeholder {
    font-family: 'Inter';
}

.search-form__button {
    font-family: 'Inter';
    appearance: none;
    border: 0;
    border-radius: 40px;
    font-size: 12px;
    line-height: 18px;
    background-color: black;
    color: white;
    width: 70px;
    height: 44px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .serch-form {
        margin: 72px 14px 0;
    }

    .search-form__input {
        font-size: 12px;
    }

    .serch-form__row {
        margin-bottom: 30px;
    }
}